<div class="container text-center">
  <mat-card>
    <h2>Educação</h2>
    <ol>
     <div class="container">
      <div class="row">
       <div class="col-8">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Telefone</th>
              <th scope="col">E-mail</th>
              <th scope="col">Linkedin</th>
              <th scope="col">Github</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>1197765-3883</td>
              <td>johnatan.quenesgmail.com</td>
              <td>https://www.linkedin.com/in/johnatan-quenes</td>
              <td>https://github.com/Johnatan-boot</td>
            </tr>
            <tr>

            </tr>
            <tr>

            </tr>
          </tbody>
        </table>

          </div>
        </div>
      </div>
    </ol>
  </mat-card>
</div>
