<div class="container text-center">
  <mat-card>
    <h2>Educação</h2>
    <ol>
     <div class="container">
      <div class="row">
       <div class="col-8">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Curso</th>
              <th scope="col">Duração</th>
              <th scope="col">Termino</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>Desenvolvimento web - Univesp</td>
              <td>80hrs</td>
              <td>07/020</td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>Posicionando elementos com Flexbox em CSS</td>
              <td>13hrs</td>
              <td>07/022</td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td scope="row">Introdução ao Angular 8</td>
              <td scope="row">13hrs</td>
              <td scope="row">07/2020</td>
            </tr>
          </tbody>
        </table>

          </div>
        </div>
      </div>
    </ol>
  </mat-card>
</div>
