<app-header> </app-header>
<app-navbar> </app-navbar>
<div class="body">
  <div class="container text-center">
    <div class="row">
      <img src="https://media.licdn.com/dms/image/v2/D4D35AQHLo_yTVVr-zA/profile-framedphoto-shrink_200_200/profile-framedphoto-shrink_200_200/0/1656634650322?e=1726693200&v=beta&t=CTo50MaX0vmf1xSJkWPgpCOjsUafItcYf3w-hKpVR2c" alt="">
    </div>
    <h1 class="title-curriculum">Johnatan Quenes Dos Santos</h1>
    <h1 class="title-profissional">
    Desenvolvedor Front-end| HTML5| CSS3| JavaScript|
    Responsive Design| React| Vue.js| jQuery| Bootstrap| UI/UX Design|
    Cross-Browser Compatibility| Version Control (Git)| Frameworks| Git| Github| Angular 13</h1>
  </div>
</div>
<router-outlet />

  <!-- Content here -->
