<div class="container text-center">
  <mat-card>
    <h2>Experiência</h2>
    <ol>
     <div class="container">
      <div class="row">
       <div class="col-4">
        <mat-card id="card-experience">
          <img src="https://portfolio-kappa-rust-34.vercel.app/img/techs/icons8-html-5-48.png" alt="">
        </mat-card>
        <mat-card id="card-experience">
       <img src="https://portfolio-kappa-rust-34.vercel.app/img/techs/icons8-javascript-48.png" alt="">
       </mat-card>
       </div>
      </div>
     </div>
      <div class="container container-right">
        <div class="row">
          <div class="col-4 text-center">
            <mat-card id="card-experience">
              <img src="https://portfolio-kappa-rust-34.vercel.app/img/techs/icons8-css3-48.png" alt="">
            </mat-card>
            <mat-card id="card-experience">
              <img src="https://portfolio-kappa-rust-34.vercel.app/img/techs/icons8-angularjs-48.png" alt="">
            </mat-card>

          </div>
        </div>
      </div>
    </ol>
  </mat-card>
</div>
