<div class="container text-center">
  <mat-card>
    <h2>Habilidades</h2>
    <ol>
     <div class="container">
      <div class="row">
       <div class="col-4">
        <li>HTML5</li>
        <li>CSS3</li>
        <li>JavaScript</li>
        <li>Responsive Design</li>
        <li>Responsive Design</li>
        <li>React</li>
        <li>Vue.js</li>
        <li>jQuery</li>
        <li>Bootstrap</li>
       </div>
      </div>
     </div>
      <div class="container container-right">
        <div class="row">
          <div class="col-4 text-center">
            <li>UI/UX Design</li>
      <li>Cross-Browser Compatibility</li>
      <li>Version Control (Git)</li>
      <li>Frameworks</li>
      <li>Git</li>
      <li>Github</li>
      <li>Angular 13</li>
          </div>
        </div>
      </div>
    </ol>
  </mat-card>
</div>
